<table width="340" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="003333" style="margin-bottom:12px">
  <tr>
    <td>
      <table width="100%"  border="0" cellspacing="0" cellpadding="4">
        <tr>
          <td width="90"><a class="plugs" href="%itemurl%" target="_blank"><img alt="%itemtitle%"src="%itemimage%" width="80" height="80" style="border-color:#FFFFFF;" border="1"></a></td>
          <td width="234" align="left" valign="top"><span class="style8"><a class="plugs" href="%itemurl%" target="_blank">%itemtitle%</a></span><span class="style7"><br/>
          <span class="style2">%itemdescription%</span></span></td>
        </tr>
        <tr align="right">
           <td colspan="2"><span class="style9">%date% at %time% | <a href="%categorylink%" title="%category%">%category%</a> | %views% Views </span></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
