<table width="340" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="E8E5DC" style="margin-bottom:12px">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr>
          <td width="90" align="center" valign="top"><a target="_blank" class="media" href="%itemouturl%" title="Click to view"><img alt="%itemtitle%"src="%itemimage%" width="80" height="80" style="border-color:#000000;" border="1"></td>
          <td width="234" align="left" valign="top"><span class="style1"><a target="_blank" class="media" href="%itemouturl%" title="Click to view %itemtitle%">%itemtitle%</a></span><br/>
          <span class="style2">%itemdescription%</span></td>
        </tr>
        <tr align="right">
          <td colspan="2"><span class="style3"><a href="%categorylink%" title="%category%">%category%</a>  | %views% Views | <a href="%commentlink%" title="Click to view the comments!">%comments%</a> comments<br/>Added By: <b>%submittedby%</b> on %date% at %time%</span></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
