Thank you for registering with <?=$sitename;?> ... 
                  <? if ($email_confirmation == 1)
                  {
                  ?>
                  a confirmation email has been sent to you. Please click on the link in the e-mail to confirm you account and to start submitting! 
                  <?
                  }
                  else
                  {
                  ?>
                  your account has been validated.  Please feel free to login and begin submitting!
                  <?
                  }
                  ?>
