<b>%username% Domain Statistics</b><br/><br/>

<div align="left" style="padding-left:15px;">%userdomains%</div><br/><br/>

<form name="adddomain" method="post" action="index.php">
  Domain Name: <input name="domain" type="text" id="domain" size="30"><br/>
  (enter domain name only. Do not enter http://, etc)
  <br>
  <br>
  Display Title: <input name="domaintitle" type="text" id="domaintitle" size="30" maxlength="30"><br/>
  (this will be the title used in linking to the domain name)
  <br>
  <br>
  Out URL: <input name="outurl" type="text" id="outurl" size="30"><br/>
  (enter domain name only. Do not enter http://, etc)
  <br>
  <br>  
  <b>%status%</b>
  <input name="Submit" type="submit" id="Submit" value="Add Domain">
</form>
